* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: Poppins, sans-serif;
  color: white;
  overflow: hidden;
}
.hero {
  height: 100vh;
  width: 100%;
  background: url("../images/fondo3\ copiacopia.jpg") center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 20px;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.55);
  backdrop-filter: blur(2px);
}
.content {
  position: relative;
  z-index: 2;
  color: white;
  max-width: 800px;
}
h1 {
  font-size: 64px;
  font-weight: 900;
  margin-bottom: 6px;
}
.sub {
  font-size: 26px;
  margin-bottom: 20px;
  opacity: 0.9;
}
.desc {
  font-size: 18px;
  line-height: 1.4;
  margin-bottom: 30px;
  opacity: 0.95;
}
.btn {
  background: #0000007f;
  padding: 14px 34px;
  border-radius: 10px;
  text-decoration: none;
  font-weight: 700;
  color: white;
  font-size: 18px;
  display: inline-block;
  transition: 0.2s;
}
.btn:hover {
  background: transparent;
  text-decoration: underline;
}
.team {
  margin-top: 45px;
  font-size: 14px;
  opacity: 0.85;
}
